/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

.container {
  background-color: #000;
  background-image: url(../img/background.webp);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  font-family: Lato, sans-serif;
  display: grid;
  grid-template-rows: repeat(10, min-content);
  grid-template-columns: [blank-left-start] minmax(0, 10vw) [blank-left-end center-start] 1fr [center-end blank-right-start] minmax(0, 10vw) [blank-right-end]; }

.section {
  background-color: rgba(0, 0, 0, 0.9);
  grid-column: center-start / center-end;
  padding: 0 4.8rem; }

.heading-1,
.heading-2,
.heading-3,
.heading-4,
.menu__button,
.footer,
.partners__offer,
.event__link,
.future-events__coming {
  font-family: BajerFont; }

.heading-1 {
  font-size: 9.8rem; }

.heading-2 {
  padding: 0 3.2rem;
  font-size: 6.2rem; }

.heading-3 {
  padding: 0 3.2rem;
  font-size: 4.4rem; }

.heading-4 {
  padding: 2.4rem;
  font-size: 3.6rem;
  line-height: 1; }

.point-to-scroll {
  background-color: rgba(0, 0, 0, 0.9);
  grid-column: center-start / center-end;
  height: 10rem; }

.sticky .menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 10rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 9999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03); }

.sticky {
  margin-top: 9.6rem; }

.about-us {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 2.4rem;
  align-items: center; }
  .about-us__heading {
    grid-column: 1 / -1;
    padding: 3.2rem; }
  .about-us__img {
    width: 100%;
    padding: 3.2rem;
    border-radius: 2px; }
  .about-us__text {
    padding: 3.2rem;
    font-size: 2.4rem;
    line-height: 1.2; }

.board {
  padding-bottom: 9.6rem; }
  .board__heading {
    text-align: right;
    margin-top: 3.2rem; }

.member {
  display: grid;
  grid-template-columns: 20% 1fr 20%;
  align-items: center;
  justify-items: center; }
  .member__heading-img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.2rem; }
    .member__heading-img--left {
      grid-column: 1 / 2; }
    .member__heading-img--right {
      grid-column: 3 / 4; }
  .member__img {
    width: 60%;
    border-radius: 5px; }
  .member__details {
    display: flex;
    flex-direction: column;
    font-size: 2.4rem;
    gap: 0.4rem; }
    .member__details--left {
      grid-column: 2 / 4;
      justify-self: left; }
    .member__details--right {
      grid-column: 1 / 3;
      grid-row: 1 / 2;
      justify-self: right; }
  .member__name {
    font-size: 3rem;
    font-weight: 700; }
  .member__tel, .member__email {
    display: flex;
    align-items: center;
    gap: 0.8rem; }
  .member__link:link, .member__link:visited {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s; }
  .member__link:hover, .member__link:active {
    transform: translateX(5px); }

.contact {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  padding: 9.6rem 3.2rem;
  padding-bottom: 20rem; }
  .contact__heading {
    justify-self: left;
    grid-column: 1 / -1;
    margin-bottom: 4.8rem; }
  .contact__img {
    width: 20vw; }

.contacts {
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column; }
  .contacts__link:link, .contacts__link:visited {
    text-decoration: none;
    color: #eee;
    font-size: 3.6rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    line-height: 1.5;
    transition: all 0.3s; }
  .contacts__link:hover, .contacts__link:active {
    transform: scale(1.05) translateX(15px); }

.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.8rem;
  padding: 0 9.6rem;
  padding-bottom: 12.8rem; }

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  padding: 0 2.4rem;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #111;
  text-align: center;
  border-radius: 5px; }
  .feature__text {
    font-size: 5.2rem;
    font-weight: 700; }
    .feature__text--long {
      font-size: 3rem;
      font-weight: 400; }
  .feature__icon {
    font-size: 6.2rem; }

.footer {
  background-color: #000;
  grid-column: blank-left-start / blank-right-end;
  text-align: center;
  font-size: 2rem;
  padding: 1.2rem 0; }

.future-events {
  display: flex;
  flex-direction: column;
  padding-bottom: 12.8rem; }
  .future-events__heading {
    text-align: right; }
  .future-events__coming {
    font-size: 6.2rem;
    text-align: center;
    padding-top: 9.6rem; }

.event {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 3.2rem;
  align-items: center;
  justify-items: center;
  row-gap: 3.2rem; }
  .event__heading {
    grid-column: 1 / -1;
    padding: 0; }
    .event__heading--left {
      justify-self: left; }
    .event__heading--right {
      justify-self: right; }
  .event__icon {
    font-size: 3.6rem; }
  .event__date, .event__location:link, .event__location:visited, .event__cost {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-size: 2.4rem; }
  .event__date {
    grid-column: 1 / 3; }
  .event__location:link, .event__location:visited {
    grid-column: 3 / 5;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s; }
  .event__location:hover, .event__location:active {
    transform: scale(1.05); }
  .event__cost {
    grid-column: 5 / -1; }
  .event__img {
    width: 100%; }
    .event__img--left {
      grid-column: 1 / 3; }
    .event__img--right {
      grid-column: 5 / -1; }
  .event__description {
    font-size: 2rem;
    line-height: 1.4;
    margin-left: 3.2rem; }
    .event__description--left {
      grid-column: 3 / -1; }
    .event__description--right {
      grid-column: 1 / 5; }
  .event__link:link, .event__link:visited {
    grid-column: 1 / -1;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: 4.4rem;
    transition: all 0.3s; }
  .event__link:hover, .event__link:active {
    transform: scale(1.1); }

.header {
  grid-column: blank-left-start / blank-right-end;
  text-align: center;
  background-color: #000; }

.members {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: lefts; }
  .members__heading {
    justify-self: right;
    margin-top: 6.4rem;
    margin-bottom: 3.2rem;
    grid-column: 1 / -1; }
  .members__dj {
    grid-column: 2 / 3;
    grid-row: 3 / 5; }
  .members__technical {
    grid-column: 3 / 4;
    grid-row: 3 / 4; }
  .members__promotion {
    grid-column: 4 / 5;
    grid-row: 3 / 4; }
  .members__finance {
    grid-column: 4 / 5;
    grid-row: 4 / 5; }
  .members__partners {
    grid-column: 3 / 4;
    grid-row: 4 / 5; }
  .members__list {
    list-style: none;
    font-family: inherit;
    font-size: 2rem; }
  .members__member span {
    font-weight: 700;
    font-size: 2.4rem; }

.menu {
  background-color: #000;
  grid-column: blank-left-start / blank-right-end;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  column-gap: 2rem; }
  .menu__left, .menu__right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center; }
  .menu__button:link, .menu__button:visited {
    display: inline-block;
    font-size: 3.6rem;
    text-decoration: none;
    background-color: transparent;
    color: #eee;
    cursor: pointer;
    transition: all 0.2s;
    text-align: center; }
  .menu__button:hover, .menu__button:active {
    transform: scale(1.1); }
  .menu__logo {
    height: 9.6rem; }

.partners {
  display: flex;
  flex-direction: column;
  padding-bottom: 12.8rem; }
  .partners .heading-2 {
    text-align: right; }
  .partners__offer:link, .partners__offer:visited {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: 9.6rem;
    text-align: center;
    transition: all 0.3s;
    padding: 3.2rem; }
  .partners__offer:hover, .partners__offer:active {
    transform: scale(1.1); }
  .partners__trust {
    padding: 3.2rem; }
  .partners__logos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 0;
    column-gap: 3rem;
    justify-items: center;
    align-items: center;
    padding: 3.2rem; }
  .partners__logo {
    width: 100%;
    filter: grayscale(1);
    transition: all 0.3s; }
  .partners__logo--link:hover .partners__logo,
  .partners__logo--link:active .partners__logo {
    filter: none;
    transform: scale(1.1); }

.rents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
  align-items: center;
  padding-bottom: 12.8rem; }
  .rents__heading {
    grid-column: 1 / -1;
    padding: 3.2rem; }
  .rents__img {
    width: 90%;
    padding: 3.2rem;
    border-radius: 2px; }
  .rents__text {
    padding: 3.2rem;
    font-size: 4.4rem;
    line-height: 1.2; }
  .rents__mail:link, .rents__mail:visited {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s; }
  .rents__mail:hover, .rents__mail:active {
    transform: translateY(-2px) scale(1.01);
    text-decoration: underline; }
