/*
SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth; }

.container {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  font-family: sans-serif;
  display: grid;
  grid-template-rows: repeat(10, min-content);
  grid-template-columns: [blank-left-start] minmax(0, 10vw) [blank-left-end center-start] 1fr [center-end blank-right-start] minmax(0, 10vw) [blank-right-end]; }

.section {
  background-color: rgba(0, 0, 0, 0.9);
  grid-column: center-start / center-end;
  padding: 0 4.8rem; }

.heading-1,
.heading-2,
.heading-3,
.menu__button,
.footer,
.partners__offer {
  font-family: BajerFont; }

.heading-1 {
  font-size: 9.8rem; }

.heading-2 {
  padding: 0 3.2rem;
  font-size: 6.2rem; }

.heading-3 {
  font-size: 4.4rem; }

.point-to-scroll {
  background-color: rgba(0, 0, 0, 0.9);
  grid-column: center-start / center-end;
  height: 10rem; }

.sticky .menu {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 10rem;
  padding-top: 0;
  padding-bottom: 0;
  z-index: 9999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03); }

.sticky {
  margin-top: 9.6rem; }

.about-us {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
  display: grid;
  grid-template-columns: 4fr 6fr;
  gap: 2.4rem;
  align-items: center; }
  .about-us__heading {
    grid-column: 1 / -1;
    padding: 3.2rem; }
  .about-us__img {
    width: 100%;
    padding: 3.2rem;
    border-radius: 2px; }
  .about-us__text {
    padding: 3.2rem;
    font-size: 2.4rem;
    line-height: 1.2; }

.board {
  background-color: blue; }

.contact {
  background-color: violet; }

.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.8rem;
  padding: 0 9.6rem; }

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  padding: 0 2.4rem;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #111;
  text-align: center;
  border-radius: 5px; }
  .feature__text {
    font-size: 5.2rem;
    font-weight: 500; }
    .feature__text--long {
      font-size: 3rem;
      font-weight: 600; }
  .feature__icon {
    font-size: 6.2rem; }

.footer {
  background-color: #000;
  grid-column: blank-left-start / blank-right-end;
  text-align: center;
  font-size: 2rem;
  padding: 1.2rem 0; }

.future-events {
  background-color: green; }

.header {
  grid-column: blank-left-start / blank-right-end;
  text-align: center;
  background-color: #000; }

.members {
  background-color: indigo; }

.menu {
  background-color: #000;
  grid-column: blank-left-start / blank-right-end;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  column-gap: 2rem; }
  .menu__left, .menu__right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center; }
  .menu__button:link, .menu__button:visited {
    display: inline-block;
    font-size: 3.6rem;
    text-decoration: none;
    background-color: transparent;
    color: #eee;
    cursor: pointer;
    transition: all 0.2s;
    text-align: center; }
  .menu__button:hover, .menu__button:active {
    transform: scale(1.1); }
  .menu__logo {
    height: 9.6rem; }

.partners {
  display: flex;
  flex-direction: column; }
  .partners .heading-2 {
    text-align: right; }
  .partners__offer:link, .partners__offer:visited {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: 9.6rem;
    text-align: center;
    transition: all 0.3s;
    padding: 3.2rem; }
  .partners__offer:hover, .partners__offer:active {
    transform: scale(1.1); }
  .partners__trust {
    padding: 3.2rem; }
  .partners__logos {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    row-gap: 0;
    column-gap: 3rem;
    justify-items: center;
    align-items: center;
    padding: 3.2rem; }
  .partners__logo {
    width: 100%;
    filter: grayscale(1);
    transition: all 0.3s; }
  .partners__logo--link:hover .partners__logo,
  .partners__logo--link:active .partners__logo {
    filter: none;
    transform: scale(1.1); }

.rents {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2.4rem;
  align-items: center; }
  .rents__heading {
    grid-column: 1 / -1;
    padding: 3.2rem; }
  .rents__img {
    width: 100%;
    padding: 3.2rem;
    border-radius: 2px; }
  .rents__text {
    padding: 3.2rem;
    font-size: 4.4rem;
    line-height: 1.2; }
  .rents__mail:link, .rents__mail:visited {
    display: inline-block;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s; }
  .rents__mail:hover, .rents__mail:active {
    transform: scale(1.01);
    text-decoration: underline; }
