$BackCol-sections: rgba(0, 0, 0, 0.9);

$bp-huge: 100em; // 1600px
$bp-hugely-large: 87.5em; // 1400px
$bp-largest: 81.25em; // 1300px
$bp-large: 62.5em; // 1000px
$bp-medium-large: 56.25em; // 900px
$bp-medium: 50em; // 800px
$bp-medium-small: 43.75em; // 700px
$bp-small: 37.5em; // 600px
$bp-smaller: 31.25em; // 500px
$bp-smallest: 25em; // 400px
