.features {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.8rem;
  padding: 0 9.6rem;
}

.feature {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.6rem;
  padding: 0 2.4rem;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: #111;
  text-align: center;
  border-radius: 5px;

  &__text {
    font-size: 5.2rem;
    font-weight: 500;

    &--long {
      font-size: 3rem;
      font-weight: 600;
    }
  }

  &__icon {
    font-size: 6.2rem;
  }
}
