.future-events {
  display: flex;
  flex-direction: column;
  padding-bottom: 12.8rem;

  @media only screen and (max-width: $bp-large) {
    padding-bottom: 9.6rem;
  }

  @media only screen and (max-width: $bp-medium-large) {
    padding-bottom: 8rem;
  }

  @media only screen and (max-width: $bp-medium) {
    padding-bottom: 6.4rem;
  }

  @media only screen and (max-width: $bp-medium-small) {
    padding-bottom: 4.8rem;
  }

  @media only screen and (max-width: $bp-small) {
    padding-bottom: 3.2rem;
  }

  &__heading {
    text-align: right;
  }

  &__coming {
    font-size: 6.2rem;
    text-align: center;
    padding-top: 9.6rem;

    @media only screen and (max-width: $bp-medium-small) {
      padding-top: 4.8rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 4.4rem;
    }
  }
}

.event {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  padding: 3.2rem;
  align-items: center;
  justify-items: center;
  row-gap: 3.2rem;

  @media only screen and (max-width: $bp-smaller) {
    row-gap: 1.6rem;
  }

  &__heading {
    grid-column: 1 / -1;
    padding: 0;

    &--left {
      justify-self: left;
    }

    &--right {
      justify-self: right;
    }
  }

  &__icon {
    font-size: 3.6rem;

    @media only screen and (max-width: $bp-medium-large) {
      font-size: 3rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 2.4rem;
    }
  }

  &__date,
  &__location:link,
  &__location:visited,
  &__cost {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    font-size: 2.4rem;

    @media only screen and (max-width: $bp-large) {
      font-size: 2rem;
    }

    @media only screen and (max-width: $bp-medium-large) {
      font-size: 1.8rem;
    }

    @media only screen and (max-width: $bp-smaller) {
      justify-self: left;
    }

    @media only screen and (max-width: $bp-smallest) {
      font-size: 1.6rem;
    }
  }

  &__date {
    grid-column: 1 / 3;

    @media only screen and (max-width: $bp-smaller) {
      grid-column: 1 / -1;
    }
  }

  &__location:link,
  &__location:visited {
    grid-column: 3 / 5;
    text-decoration: none;
    color: inherit;
    transition: all 0.3s;

    @media only screen and (max-width: $bp-smaller) {
      grid-column: 1 / -1;
    }
  }

  &__location:hover,
  &__location:active {
    transform: scale(1.05);
  }

  &__cost {
    grid-column: 5 / -1;

    @media only screen and (max-width: $bp-smaller) {
      grid-column: 1 / -1;
    }
  }

  &__img {
    width: 100%;

    &--left {
      grid-column: 1 / 3;

      @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
      }
    }

    &--right {
      grid-column: 5 / -1;

      @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
      }
    }
  }

  &__description {
    font-size: 2rem;
    line-height: 1.4;
    margin-left: 3.2rem;

    @media only screen and (max-width: $bp-huge) {
      font-size: 1.8rem;
    }

    @media only screen and (max-width: $bp-medium-large) {
      font-size: 1.6rem;
    }

    @media only screen and (max-width: $bp-medium) {
      font-size: 2rem;
    }

    @media only screen and (max-width: $bp-smallest) {
      margin-left: 0;
    }

    &--left {
      grid-column: 3 / -1;

      @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
      }
    }

    &--right {
      grid-column: 1 / 5;

      @media only screen and (max-width: $bp-medium) {
        grid-column: 1 / -1;
      }
    }
  }

  &__link:link,
  &__link:visited {
    grid-column: 1 / -1;
    display: inline-block;
    text-decoration: none;
    color: inherit;
    font-size: 4.4rem;
    transition: all 0.3s;

    @media only screen and (max-width: $bp-smallest) {
      font-size: 3.6rem;
    }
  }

  &__link:hover,
  &__link:active {
    transform: scale(1.1);
  }
}
