.header {
  grid-column: blank-left-start / blank-right-end;
  text-align: center;
  background-color: #000;

  @media only screen and (max-width: $bp-hugely-large) {
    grid-column: center-start / center-end;
  }

  @media only screen and (max-width: $bp-large) {
    display: none;
  }
}
