.menu {
  background-color: #000;
  grid-column: blank-left-start / blank-right-end;

  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  column-gap: 2rem;

  &__left,
  &__right {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }

  // &__center {
  // }

  &__button:link,
  &__button:visited {
    display: inline-block;
    font-size: 3.6rem;
    text-decoration: none;
    background-color: transparent;
    color: #eee;
    cursor: pointer;
    transition: all 0.2s;
    text-align: center;
  }

  &__button:hover,
  &__button:active {
    transform: scale(1.1);
  }

  &__logo {
    height: 9.6rem;
  }
}
