.menu {
  background-color: #000;
  grid-column: blank-left-start / blank-right-end;

  @media only screen and (max-width: $bp-hugely-large) {
    grid-column: center-start / center-end;
  }

  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  column-gap: 2rem;

  &__nav {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(3, 1fr) min-content repeat(3, 1fr);
    align-items: center;
    justify-items: stretch;
    transition: all 0.5s;

    @media only screen and (max-width: $bp-large) {
      background-color: $BackCol-sections;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100vh;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(7, min-content);
      align-content: center;

      opacity: 0;
      pointer-events: none;
      visibility: hidden;
      z-index: 9;
    }
  }

  &-open {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
  // &__center {
  // }

  &__button:not(:last-child) {
    @media only screen and (max-width: $bp-large) {
      margin-bottom: 3rem;
    }
  }

  &__button:link,
  &__button:visited {
    display: inline-block;
    font-size: 3.6rem;
    text-decoration: none;
    background-color: transparent;
    color: #eee;
    cursor: pointer;
    transition: all 0.2s;
    text-align: center;

    @media only screen and (max-width: $bp-large) {
      line-height: 1;
    }
  }

  &__button:hover,
  &__button:active {
    transform: scale(1.1);
  }

  &__logo {
    height: 9.6rem;

    @media only screen and (max-width: $bp-large) {
      display: none;
      grid-row: -2 /-1;
    }

    &--mobile {
      display: none;

      @media only screen and (max-width: $bp-large) {
        position: relative;
        padding: 0.4rem 3.2rem;
        display: inline-block;
        height: 9.6rem;
        z-index: 10;
      }
    }
  }
}
