.heading-1,
.heading-2,
.heading-3,
.menu__button,
.footer,
.partners__offer {
  font-family: BajerFont;
}

.heading-1 {
  font-size: 9.8rem;
}

.heading-2 {
  padding: 0 3.2rem;
  font-size: 6.2rem;
}

.heading-3 {
  font-size: 4.4rem;
}
